body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;

}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}


/*agregar miembro*/

.containerM{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap :7rem;
    padding: 0 2rem;
}

.img{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-align: center;
}

.img img{
	width: 500px;
}

form{
	width: 360px;
}

.login-content img{
    height: 100px;
}

.login-content h2{
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div{
	position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one{
	margin-top: 0;
}

.i{
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i{
	transition: .3s;
}

.input-div > div{
    position: relative;
	height: 45px;
}

.input-div > div > h5{
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: .3s;
}

.input-div:before, .input-div:after{
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #ff3751;
	transition: .4s;
}

.input-div:before{
	right: 50%;
}

.input-div:after{
	left: 50%;
}

.input-div.focus:before, .input-div.focus:after{
	width: 50%;
}

.input-div.focus > div > h5{
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i{
	color: #ff3751;
}

.input-div > div > input{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass{
	margin-bottom: 4px;
}



.btnM{
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #ff3760, #ff3751, #ff3760);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}
.btnM:hover{
	background-position: right;
}


@media screen and (max-width: 1050px){
	.containerM{
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px){
	form{
		width: 290px;
	}

	.login-content h2{
        font-size: 2.4rem;
        margin: 8px 0;
	}

	.img img{
		width: 400px;
	}
}

@media screen and (max-width: 900px){
	.containerM{
		grid-template-columns: 1fr;
	}

	.img{
		display: none;
	}

	
	.login-content{
		justify-content: center;
	}
}



/* Para el boton de menu*/

.lbl-menu{
	width: 50px;
	height: 30px;
	position: relative;
	cursor: pointer;
}
.lbl-menu #spn1,#spn2,#spn3{
	position: absolute;
	content: '';
	background: #ff3751;
	width: 50px;
	height: 5px;
	border-radius: 5px;
	transition: all 400ms ease;
}
#spn2{
	top: 11px;
}
#spn3{
	top: 22px;
}
#btn-menu{
	display: none;
}
#btn-menu:checked ~ .lbl-menu #spn1{
	transform: rotate(140deg);
	top: 10px;
}
#btn-menu:checked ~ .lbl-menu #spn2{
	opacity: 0;
}
#btn-menu:checked ~ .lbl-menu #spn3{
	transform: rotate(-140deg);
	top: 10px;
}



/* Para el parallax*/
#parallax-image{
	background-image: url('/images/sala-pesas.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image1{
	background-image: url('/images/banner1.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image2{
	background-image: url('/images/banner2.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image3{
	background-image: url('/images/banner5.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.titulo{
	font-family: 'Indie Flower', cursive;

	font-size: 100px;
	color: white;
	margin: 0;
	text-align: center;
	padding-top: 15%;

}

/* Para el formulario*/
.fondo{
    background: url(../images/banner6.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}

/* Para el login*/

:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

.bodylogin{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-dark)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn1 {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background: #ff3751;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control1 {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url('/images/sala-pesas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}



/*
.bodylogin{
	background-image: url(../images/login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.formulario{
	background: rgba(188, 96, 95, 0.4);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	color:white;
}
.form-control{
	background:#ff3751;
	border-style: none;
	transition: 0.5s ease-in-out;
	outline: none;
	box-shadow: none;
	color: white;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
}
.form-control:hover{
	background:rgba(188, 96, 95, .8);
	color: white;
}
.form-control:focus{
	background: none;
	box-shadow: none;
	outline: none;
}
.form-control::placeholder{
	color: black;
}


.ingresar{
	background: #ff3751;
	padding: 10px;
	font-size: 16px;
	font-weight: 700!important;
	color: black;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	transition: 0.5s ease-in-out;

}
.ingresar:hover{
	color: white;
}
.olvide{
	color: 	#FAF0E6;
	text-decoration-style:none;
	text-decoration-line: none;
}
*/



/* Para el sidebar*/
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}
#sidebar{
	min-width: 250px;
	min-height: 250px;
	background: #ff3751;
	color: #fff;
	transition: all 0.3s;
}
#sidebar .active{
	margin-left: -250px;
}
#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;

} 
#sidebar ul.componets{
	padding: 20px 0;
	background: 1px solid #47748b;
} 
#sidebar ul p{
	color: #fff;
	padding: 10px;
}
#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;

}
#sidebar ul li a:hover{
	color: #000;
	background: #ffe402;
}

#sidebar ul li.activate>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #ffe402;
}
a[data-toggle="collapse"]{
	position: relative;
}
.dropdown.toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px;
	background: #6d7fcc;

}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}
@media(max-width: 768px) {
	#sidebar{
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span{
		display: none;
	}
}