body{
	font-family: 'Poppins', sans-serif;
	background: #fafafa;

}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}
/* Para el parallax*/
#parallax-image{
	background-image: url('/images/sala-pesas.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image1{
	background-image: url('/images/banner1.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#parallax-image2{
	background-image: url('/images/banner2.jpg');
	height: 400px;
	margin-bottom: 50px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.h1{
	font-family: Cosmic Sans MS, Cosmic Sans, Cursive;
	color: whitesmoke;
	font-feature-settings: 50px;
}

/* Para el formulario*/
.fondo{
    background: url(../images/banner1.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main-section{
    margin:0 auto;
    margin-top:5%;
}
.card{
	opacity: .95;
}
.card-body{
    background-color: #d1d3d6;
    box-shadow: 0px 0px 3px #848484;
}

label{
	font-weight: bold;
}

.nav-tabs .nav-item a:not(.active){
	background-color: #d1d3d6;
}

.nav-tabs{
	border-bottom:0px;
}

/* Para el login*/

:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}

.bodylogin{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: var(--color-grey);
    color: var(--color-light);
    letter-spacing: .05rem;
}

.bg-light {
    background-color: var(--color-light)!important;
}

.bg-dark {
    background-color: var(--color-dark)!important;
}

.p-6 {
    padding: 4rem 7rem;
}

.contact-box {
    padding: 3rem;
}

.btn1 {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
    background: #ff3751;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}


.form-control1 {
    background-color: var(--color-dark-xx);
    border: 2px solid var(--color-dark-xx);
    border-radius: .2rem;
    padding: 1.5rem 1rem;
}

.register-bg {
    background-image: url('/images/sala-pesas.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.testiomonial {
    bottom: 10px
}

@media (max-width: 575.98px) {
    .p-6 {
        padding: 2rem;
    }

    .contact-box {
        padding: 0;
    }

    .width-100 {
        width: 100%;
    }
}

@media (max-width: 1200px) { 
    .register-bg {
        min-height: 50vh;
    }
}



/*
.bodylogin{
	background-image: url(../images/login.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

}
.formulario{
	background: rgba(188, 96, 95, 0.4);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	color:white;
}
.form-control{
	background:#ff3751;
	border-style: none;
	transition: 0.5s ease-in-out;
	outline: none;
	box-shadow: none;
	color: white;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
}
.form-control:hover{
	background:rgba(188, 96, 95, .8);
	color: white;
}
.form-control:focus{
	background: none;
	box-shadow: none;
	outline: none;
}
.form-control::placeholder{
	color: black;
}


.ingresar{
	background: #ff3751;
	padding: 10px;
	font-size: 16px;
	font-weight: 700!important;
	color: black;
	box-shadow: 0 0 30px rgba(0,0,0,0.568);
	transition: 0.5s ease-in-out;

}
.ingresar:hover{
	color: white;
}
.olvide{
	color: 	#FAF0E6;
	text-decoration-style:none;
	text-decoration-line: none;
}
*/



/* Para el sidebar*/
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}
#sidebar{
	min-width: 250px;
	min-height: 250px;
	background: #ff3751;
	color: #fff;
	transition: all 0.3s;
}
#sidebar .active{
	margin-left: -250px;
}
#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;

} 
#sidebar ul.componets{
	padding: 20px 0;
	background: 1px solid #47748b;
} 
#sidebar ul p{
	color: #fff;
	padding: 10px;
}
#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;

}
#sidebar ul li a:hover{
	color: #000;
	background: #ffe402;
}

#sidebar ul li.activate>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #ffe402;
}
a[data-toggle="collapse"]{
	position: relative;
}
.dropdown.toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px;
	background: #6d7fcc;

}

#content{
	width: 100%;
	padding: 20px;
	min-height: 100vh;
	transition: all 0.3s;
}
@media(max-width: 768px) {
	#sidebar{
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#sidebarCollapse span{
		display: none;
	}
}